@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
h1{
    font-family: 'Quicksand';
}
#nav{
    background-color: #000055;
    padding: 1px;
    color: #ffffff
}

body{
    background-color: #bdbdbd;
    background-image: url(img/Fundo.png);
}

#cadastros{
    padding: 15px;
}
 
.veic{
    background-color: #242424;
    border-radius: 5px;
    color: white;
    padding: 15px;
    margin-top: 190px;
    margin-right: 15px;
}

.clien{
    background-color: #242424;
    border-radius: 5px;
    color: white;
    padding: 15px;
    margin-top: 190px;
    margin-right: 15px;
}

.forn{
    background-color: #242424;
    border-radius: 5px;
    color: white;
    padding: 15px;
    margin-top: 190px;
    margin-bottom: 196px;
}

input{
   width: 370px; 
   height: 35px;
   outline: none;
   border-radius: 5px;
   padding-left: 10px;
}

footer{
    background-color: #000055;
    padding: 15px;
    color: #ffffff;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}
.container{
    width: 1244px;
    max-width: 100%;     
    margin: auto;
}

.clearfix::before,
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

[class*="col-"] {
    float: left;
    padding-right: 10px;
} 
.col-1 {width: 8.33%; }
.col-2 {width: 16.66%;}
.col-3 {width: 29.99%;}
.col-4 {width: 32.5%;}
.col-5 {width: 41.65%;}
.col-6 {width: 49.98%;}
.col-7 {width: 58.31%;}
.col-8 {width: 66.64%;}
.col-9 {width: 74.97%;}
.col-10{width: 83.30%;}
.col-11{width: 91.63%;}
.col-12{width: 100%;}